button {
  border: none;
  border-radius: 0px;
  /* border-color: rgb(235, 243, 232); */
  height: 45px;
  background-color: rgb(134, 167, 137);
  font-size: 0.9rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 8px grey;
  transition: box-shadow 1s;
}
button:hover {
  box-shadow: 4px 4px 8px rgb(7, 11, 6);
}

.hiddenBookmark {
  visibility: hidden;
}

.hiddenAnswer {
  visibility: hidden;
}
