.title-header {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aquamarine;
  background-color: black;

  width: 100vw;
  padding: 10px;
  top: 0px;
  text-align: center;
  position: fixed;
  z-index: 1;
}
