.navigation-bar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  margin-top: 30px;
  width: 100vw;
  background-color: rgb(4, 4, 171);
  z-index: 1;
}

.footer {
  width: 50px;
  height: auto;
}
footer {
  position: fixed;
  padding-top: 30px;
  background-color: blue;
}
